.itemsBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  width: 320px;
  height: 150px;
  background-color: #ffffff4a;
  margin: 20px;
  padding: 12px;
  border-radius: 10px;
  h2 {
    margin-bottom: 20px;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 350px) {
  .item {
    width: 290px;
  }
}
